.card_.active_update {
    background-color: #f2f2f2;
    transition: 0.5s;
}

.card_:hover {
    background-color: #f2f2f2;
}

.card_ .head_,
.card_ .footer_,
.card_ .input_question,
.card_ .title_ {
    display: none;
}

.card_.active_update .head_ {
    display: flex;
    height: 75px;
    border-bottom: 1px solid #d9d9d9;
}

.card_.active_update .footer_ {
    display: flex;
    height: 75px;
    border-top: 1px solid #d9d9d9;
}

.card_.active_update .input_question,
.card_.active_update .title_ {
    display: block;
}

.card_.active_update .question_ {
    display: none;
}

///////
.uk-input {
    background-color: #e0e0e0 !important;
}

.uk-input.border_,
.uk-textarea.border_ {
    background-color: transparent !important;
    border: 1px solid #e0e0e0 !important;
}

.uk-radio,
.uk-checkbox {
    height: 20px !important;
    width: 20px !important;
}

.uk-dropdown-nav li.uk-active a span {
    display: block !important;
}

.uk-dropdown-nav li:hover {
    background-color: #ebebeb;
}
