.sec_preview {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #e8f2f4;
}

.sec_preview .uk-container {
    max-width: 943px !important;
}

.sec_preview .body {
    height: 85vh;
    position: absolute;
    bottom: 0;
    overflow: auto;
}

.sec_preview .btn_add {
    width: 15%;
    height: 40px;
    border: none;
    transition: 0.5s;
}

.sec_preview .btn_add p {
    font-size: 17px;
}

.sec_preview .nav_ {
    border-bottom: 1px solid #494949;
}

.uk-dropdown-nav li.uk-active a span {
    display: block !important;
}

.uk-dropdown-nav li:hover {
    background-color: #fff;
}

.sec_preview nav ul .btn:hover {
    min-height: unset !important;
    background-color: #208d91;
}
