.whiteC_ {
    color: white !important;
}

.whiteBG_ {
    background-color: white !important;
}

.blackC_ {
    color: #383838 !important;
}

.blackBG_ {
    background-color: #383838 !important;
}

.grayC_ {
    color: #9D9D9D !important;
}

.grayBG_ {
    background-color: #9D9D9D !important;
}

.blueC_ {
    color: #3498db !important;
}

.blueBG_ {
    background-color: #3498db !important;
}

.redC_ {
    color: #e74c3c !important;
}

.redBG_ {
    background-color: #e74c3c !important;
}

.greenC_ {
    color: #03787C !important;
}

.greenBG_ {
    background-color: #03787C !important;
}