<ul class="uk-grid-small uk-child-width-1-2 uk-child-width-1-4@s sortable_" uk-sortable="handle: .uk-sortable-handle;" uk-grid>

  <li *ngFor="let item of arr; let i = index" id="Item {{i+1}}">
      <div class="uk-card uk-card-default uk-card-body" >
          <span class="uk-sortable-handle uk-margin-small-right uk-text-center" [ngClass]="'xxx' + i" uk-icon="icon: table"></span>{{item.title}} {{i + 1}}
      </div>
  </li>

</ul>

<div>

  <p *ngFor="let item of arr">
    {{item.title}} -> {{item.index}}
  </p>

</div>

<button  (click)="tt()">asdasd</button>

