.sec_form {
    position: relative;
    height: 100vh;
    background-color: #e8f2f4;
}

.sec_form .body {
    position: absolute;
    bottom: 0;
}

.sec_form .box_ {
    height: 85vh;
    overflow-y: scroll ;
}

.sec_form .btn_add {
    width: 15%;
    height: 40px;
    border: none;
    transition: 0.5s;
}

.sec_form .btn_add p {
    font-size: 17px;
}

.sec_form .nav_ {
    border-bottom: 1px solid #494949;
}
