.star-rating-filled {
    fill: #03787c;
}

.star-rating-blank {
    fill: #c5c5c5;
}

.active_num {
    background-color: #03787c;
    color: white;
    border: 1px solid #03787c;
}

.num_ {
    text-align: center;
    border: 1px solid #383838;
}
