<div class="card_">

    <div class="uk-flex uk-flex-center pt-3">
        <span class="uk-sortable-handle uk-margin-small-right uk-text-center" uk-icon="icon: table"></span>
    </div>

    <div class="head_ px-4 uk-flex uk-flex-right uk-flex-middle">

        <div>
            <img (click)="delete(item.id)" src="assets/img/test/trash.svg" alt="">
            <img (click)="copy(item.data)" class="ml-2" src="assets/img/test/copy.svg" alt="">
        </div>

    </div>

    <div class="px-4 py-3">

        <h3 class="f_Light mb-2 title_">Net Promoter Score <span *ngIf="item.data.required" class="redC_">*</span></h3>

        <div class="uk-grid-small uk-child-width-1-1@l" uk-grid>

            <div>
                <input class="uk-input py-2 input_question" type="text" (input)="changeValue(item.data, item.id)"
                    [(ngModel)]="item.data.question_text">
                <input *ngIf="item.data.subtitle" class="uk-input py-2 mt-1" type="text"
                    (input)="changeValue(item.data,item.id)" placeholder="Enter Subtitle"
                    [(ngModel)]="item.data.subtitle_text">
            </div>

            <div>
                <div class="uk-flex">
                    <div *ngFor="let item of [0,0,0,0,0,0,0,0,0,0]; let i = index" class="box_ text-center py-2">{{i+1}}
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2">
                <p class="text-left mb-1">{{item.data.bad_text}}</p>
                <input class="uk-input uk-width-2-3" type="text" placeholder="Enter Label"
                    (input)="changeValue(item.data,item.id)" [(ngModel)]="item.data.bad_text">
            </div>

            <div class="uk-width-1-2 ">
                <p class="text-right mb-1">{{item.data.good_text}}</p>
                <div class="uk-flex uk-flex-right">
                    <input class="uk-input uk-width-2-3" type="text" placeholder="Enter Label"
                        (input)="changeValue(item.data,item.id)" [(ngModel)]="item.data.good_text">

                </div>
            </div>

        </div>

    </div>

    <div class="footer_ px-4 uk-flex uk-flex-right uk-flex-middle">

        <div class="uk-flex">

            <div class="uk-flex uk-flex-middle mr-3">
                <ui-switch switchColor="#fff" color="#3498DB" size="small" (click)="changeValue(item.data,item.id)"
                    [(ngModel)]="item.data.required">
                </ui-switch>
                <p class="ml-2">Required</p>
            </div>

            <img src="assets/img/test/menu.svg" alt="">
            <div class="p-1" uk-dropdown="pos: top-right; mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="p-1">
                        <a
                            (click)="item.data.subtitle? item.data.subtitle = false : item.data.subtitle = true; changeValue(item.data,item.id)">
                            <span *ngIf="item.data.subtitle" class="mr-1" uk-icon="check"></span>
                            Subtitle
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>