<div class="card_">

    <div class="uk-flex uk-flex-center pt-3">
        <span class="uk-sortable-handle uk-margin-small-right uk-text-center" uk-icon="icon: table"></span>
    </div>

    <div class="head_ px-4 uk-flex uk-flex-right uk-flex-middle">

        <div>
            <img (click)="delete(id)" src="assets/img/test/trash.svg" alt="">
            <img (click)="copy('copy')" class="ml-2" src="assets/img/test/copy.svg" alt="">
        </div>

    </div>

    <div class="px-4 py-3">

        <h3 class="f_Light mb-2 title_">Rating</h3>

        <div class="uk-grid-small uk-child-width-1-1@l" uk-grid>

            <div>
                <h4 class="f_Light question_">1. Question</h4>
                <input class="uk-input py-2 input_question" type="text" value="Question">
                <input *ngIf="option.subtitle" class="uk-input py-2 mt-1" type="text" placeholder="Enter Subtitle">
            </div>

            <div>
                
                <div class="uk-flex">
                    <div *ngFor="let item of rateArr" class="circle mr-1"></div>
                </div>

            </div>

            <div class="uk-width-1-3@l">

                <div class="uk-flex uk-flex-middle">
                    <h5 class="f_Medium mr-2">Level:</h5>
                    <ng-select (change)="change()" [items]="levelArr" class="full_w" [placeholder]="'Level'" [(ngModel)]="level">
                    </ng-select>
                </div>

            </div>

            <div class="uk-width-1-3@l">

                <div class="uk-flex uk-flex-middle">
                    <h5 class="f_Medium mr-2">Symbol:</h5>
                    <ng-select [items]="SymbolArr" bindLabel="value" bindValue="value" class="full_w" [placeholder]="'Symbol'">
                    </ng-select>
                </div>

            </div>

        </div>

    </div>

    <div class="footer_ px-4 uk-flex uk-flex-right uk-flex-middle">

        <div class="uk-flex">

            <div class="uk-flex uk-flex-middle mr-3">
                <ui-switch switchColor="#fff" color="#3498DB" size="small" [(ngModel)]="option.long_text">
                </ui-switch>
                <p class="ml-2">Long Answer</p>
            </div>

            <div class="uk-flex uk-flex-middle mr-3">
                <ui-switch switchColor="#fff" color="#3498DB" size="small" [(ngModel)]="option.required">
                </ui-switch>
                <p class="ml-2">Required</p>
            </div>

            <img src="assets/img/test/menu.svg" alt="">
            <div class="p-1" uk-dropdown="pos: top-right; mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="p-1">
                        <a (click)="option.subtitle = true">
                            <span *ngIf="option.subtitle" class="mr-1" uk-icon="check"></span>
                            Subtitle
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>