.sec_form {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #e8f2f4;
}

.sec_form .uk-container {
    max-width: 943px !important;
}

.sec_form .body {
    height: 85vh;
    position: absolute;
    bottom: 0;
    overflow:auto;
}


.sec_form .btn_add {
    width: 15%;
    height: 40px;
    border: none;
    transition: 0.5s;
}

.sec_form .btn_add p {
    font-size: 17px;
}

.sec_form .nav_ {
    border-bottom: 1px solid #494949;
}
