<div class="card_">

    <div class="uk-flex uk-flex-center pt-3">
        <span (mouseover)="mouseOver()" class="uk-sortable-handle uk-margin-small-right uk-text-center"
            uk-icon="icon: table"></span>
    </div>

    <div *ngIf="!close" class="head_ px-4 uk-flex uk-flex-right uk-flex-middle">

        <div>
            <img (click)="delete(item.id)" src="assets/img/test/trash.svg" alt="">
            <img (click)="copy(item.data,item.id)" class="ml-2" src="assets/img/test/copy.svg" alt="">
        </div>

    </div>

    <div class="px-4 py-3">

        <h5 class="f_Bold mb-2 title_">Date <span *ngIf="item.data.required" class="redC_">*</span></h5>

        <div class="uk-grid-small uk-child-width-1-1@l" uk-grid>

            <div>
                <div class="uk-flex uk-flex-middle">
                    <p class="mr-1">{{arrange + 1}}-</p>
                    <input class="uk-input py-2 input_question" type="text" (input)="changeValue(item.data, item.id)"
                        [(ngModel)]="item.data.question_text">
                </div>

                <div *ngIf="!close">
                    <input *ngIf="item.data.subtitle" class="uk-input py-2 mt-1" type="text"
                        (input)="changeValue(item.data,item.id)" placeholder="Enter Subtitle"
                        [(ngModel)]="item.data.subtitle_text">
                </div>

            </div>

            <div *ngIf="!close">

                <div class="uk-inline full_w">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
                    <input disabled class="uk-input border_ py-2" type="date" placeholder="Enter Your Answer">
                </div>

            </div>

        </div>

    </div>

    <div *ngIf="!close" class="footer_ px-4 uk-flex uk-flex-right uk-flex-middle">

        <div class="uk-flex">


            <div class="uk-flex uk-flex-middle mr-3">
                <ui-switch switchColor="#fff" color="#3498DB" size="small" (click)="changeValue(item.data,item.id)"
                    [(ngModel)]="item.data.required">
                </ui-switch>
                <p class="ml-2">Required</p>
            </div>

            <img src="assets/img/test/menu.svg" alt="">
            <div class="p-1" uk-dropdown="pos: top-right; mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="p-1">
                        <a
                            (click)="item.data.subtitle? item.data.subtitle = false : item.data.subtitle = true; changeValue(item.data,item.id)">
                            <span *ngIf="item.data.subtitle" class="mr-1" uk-icon="check"></span>
                            Subtitle
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>